{% extends 'base.html' %}
{% load static %}


{% block title %}Signup{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

{% endblock styles %}

{% block content %}

<div class="register-container">
    <div class="signup-form">
        <h3>User Registration</h3>
        <form action="">
            <input autofocus type="text" name="username" placeholder='Enter username' required  ><br>
            <input type="email" name="email" placeholder='example@gmail.com' onblur='validateEmail(this)'><br>
            <input type="password" name="password" placeholder='Enter password'><br>
            <input type="password" name="confirm_password" placeholder='Retype password'><br>
            <a href="{% url 'User:login' %}">Already have an account</a>
            <button type="submit">Signup</button>
        </form>
    </div>
</div>

<script src="{% static 'js/validate.js' %}"></script>
{% comment %} <script>
    const link = document.querySelector('a')
    link.addEventListener('click',(e) =>{
        console.log(e)
    })
</script> {% endcomment %}
{% endblock content %}



